
.auth_head{
    p{
        color: var(--black);
        font-size: var(--fs-20);
        font-weight: 500; 
    }
}


.btn_tabs_box {
    .btn_tabs{
    color: var(--black);
    font-size: var(--fs-15);
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 5px;
    background-color: transparent;
    }
}
    .btn_optional {
        color: var(--black);
        font-size: var(--fs-14);
        font-weight: 500;
        margin-bottom: 5px;
    }
    .form_body {
        .form-check {
            .form-check-input{
                border: 1px solid rgb(234, 236, 239);
                .form-check-label {
                    p {
                        a{
                            color: var(--black);
                            font-size: var(--fs-14);
                            font-weight: 500; 
                        }
                    }
                }
            &:checked{
                background-color: var(--btn-auth);
                border: 1px solid var(--btn-auth);
            }
        }
        }
    }

.top_section {
    .top_header{
background-color: var(--trans-yellow);
a{
    color: var(--black);
    font-size: var(--fs-12);
    font-weight: 500;
    span{
    color: var(--green);
}
}
p{
    color: var(--black);
    font-size: var(--fs-12);
    font-weight: 500;
}
}
}

.input-group {
    .input-group-text{
        color: var(--light-yellow);
        font-weight: 500;
        font-size: var(--fs-14);
        cursor: pointer;
    }
}
.auth_head {
    p{
        color: var(--black);
        font-size: var(--fs-20);
        font-weight: 500; 
    }
}
    

@media all and (min-width:320px) and (max-width:767px){
    .top_header p,
.top_header a{
    font-size: var(--fs-10);
}
}